{% set product = product | default('portfolio-home') %}
{% set homeHref = homeHref | default('/') %}
{% set showRecruiter = showRecruiter | default(product == 'portfolio-home') %}
{% set showSectionDropdown = showSectionDropdown | default(false) %}
{% include "partials/platform-header.njk" %}
